body {
	margin: 0px;
    height: 1000px;
}

.tablet-outer-edge {
	position: absolute;
    top: 50px;
    left: 50px;
	height: 900px;
	width: 1400px;
	background-color: black;
	border-radius: 30px;
}

.tablet-inner-edge {
	position: absolute;
    top: 50px;
    left: 50px;
	height: 800px;
	width: 1300px;
	background-color: white;
}

.button {
    background-color: #a5a5a5;
}

.top-buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.bottom-buttons {
    position: absolute;
    top: 775px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.top-bottom-button {
    height: 25px;
    width: 170px;
    margin: 0px 1px;
}

.left-right-button {
    height: 170px;
    width: 25px;
    margin: 1px 0px;
}

.left-buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.right-buttons {
    position: absolute;
    top: 0px;
    left: 1275px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

#but-start {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin: -50px 0 0 -50px;
}

.extended-top-buttons {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.extended-bottom-buttons {
    position: absolute;
    top: 900px;
    left: 100px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.ext-button {
    background-color: orange;
    opacity: 0.5;
}

.extended-top-bottom-button {
    height: 100px;
    width: 170px;
    margin: 0px 1px;
}

.extended-left-right-button {
    height: 170px;
    width: 100px;
    margin: 1px 0px;
}

.extended-left-buttons {
    position: absolute;
    top: 100px;
    left: 0px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.extended-right-buttons {
    position: absolute;
    top: 100px;
    left: 1400px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.target {
	background-color: red !important;
}

.start {
    background-color: green !important;
}

.hide {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}